
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 3.125rem auto 0 auto;
  font-family: 'Rye', cursive;
  font-size: 4.25rem;
}

h2 {
  font-family: 'Montserrat', sans-seri;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Montserrat', sans-seri;
}

.top-container {
  background-color: #F3E1E1;
  position: relative;
  padding-top: 6.25rem;
}

.middle-container {
  background-color: #D3CEDF;

}

.bottom-container {
  background-color: #D3CEDF;

}

.assistant {
  font-size: 1.5rem;
}

.business {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 18.75rem;
  top: 3.125rem;
  width: 9.375rem;
  height: 9.375rem;
}

.bottom-cloud {
  position: absolute;
  left: 18.75rem;
  bottom: 20rem;
  width: 12.5rem;
  height: 11.25rem;
}

.trees {
  width: 25rem;
  height: 25rem;
  margin-top: 5rem;
}

.woman {
  width: 15rem;
  height: 15rem;
}

.languages {
  width: 12.5rem;
  height: 12.5rem;
}

.coding {
  width: 12.5rem;
  height: 12.5rem;
}
