
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #372948;
  background-color: #D3CEDF;
}

h1 {
  margin: 5rem auto 0 auto;
  font-family: 'Rye', cursive;
  font-size: 4.5rem;
  color: #85586F;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat', sans-seri;
  font-size: 3rem;
  color: #85586F;
  padding: 10px;
}

h3 {
  font-family: 'Montserrat', sans-seri;
  font-size: 1.5rem;
  color: #AC7D88;
}

hr {
  border: none;
  border-top: 8px dotted #F3E1E1;
  margin: 100px auto;
  width: 10%
}

p {
  line-height: 2;
}


.assistant {
  font-size: 1.25rem;
  font-weight: normal;
}

.bottom-cloud {
  position: absolute;
  left: 18rem;
  bottom: 20.25rem;
  width: 12.5rem;
  height: 11.25rem;
}

.bottom-container {
  background-color: #85586F;
  padding: 20px 0 10px;
}

.BUTTON_IMS {
   background: #AC7D88;
   background-image: -webkit-linear-gradient(top, #AC7D88, #85586F);
   background-image: -moz-linear-gradient(top, #AC7D88, #85586F);
   background-image: -ms-linear-gradient(top, #AC7D88, #85586F);
   background-image: -o-linear-gradient(top, #AC7D88, #85586F);
   background-image: -webkit-gradient(to bottom, #AC7D88, #85586F);
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-seri;
   font-size: 20px;
   font-weight: bolder;
   padding: 20px;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_IMS:hover {
   border: solid #337FED 0;
   background: #FFC4C4;
   background-image: -webkit-linear-gradient(top, #FFC4C4, #FF869E);
   background-image: -moz-linear-gradient(top, #FFC4C4, #FF869E);
   background-image: -ms-linear-gradient(top, #FFC4C4, #FF869E);
   background-image: -o-linear-gradient(top, #FFC4C4, #FF869E);
   background-image: -webkit-gradient(to bottom, #FFC4C4, #FF869E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}

.BUTTON_IMS:active {
  border: solid #337FED 0;
  background: #E6B2C6;
  background-image: -webkit-linear-gradient(top, #E6B2C6, #D77FA1);
  background-image: -moz-linear-gradient(top, #E6B2C6, #D77FA1);
  background-image: -ms-linear-gradient(top, #E6B2C6, #D77FA1);
  background-image: -o-linear-gradient(top, #E6B2C6, #D77FA1);
  background-image: -webkit-gradient(to bottom, #E6B2C6, #D77FA1);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}

.coding {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.copyright {
  color: #F3E1E1;
  margin: 0;
  padding-top: 20px;
  font-size: 0.8rem;
}

.contact-me {
  margin: 5rem auto;
}

.contact-message {
  width: 36%;
  margin: auto auto 20px;
}

.footer-link {
  color: #F3E1E1;
  font-family: 'Montserrat', sans-seri;
  margin: 0 20px;
  text-decoration: none;
  font-weight: bold;
}

.footer-link:hover {
  color: #FFC4C4;
}

.footer-link:active {
 color: #E6B2C6;
}

.intro {
  width: 40%;
  margin: auto;
}

.languages {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.middle-container {
  background-color: #D3CEDF;
  margin: 100px 0;
}

.skill-row {
  width: 50%;
  margin: 6.25rem auto;
  text-align: left;
}

.top-container {
  background-color: #F3E1E1;
  position: relative;
  padding-top: 6.25rem;
}

.top-cloud {
  position: absolute;
  right: 19rem;
  top: 2rem;
  width: 9.375rem;
  height: 9.375rem;
}

.trees {
  width: 25rem;
  height: 25rem;
  margin-top: 5rem;
}

.woman {
  width: 15rem;
  height: 15rem;
}
